@import url("https://fonts.googleapis.com/css?family=Monoton|Permanent+Marker&display=swap");
@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Finger+Paint&display=swap");
body {
  background-color: #fafafa;
}

* {
  font-family: "Open Sans", Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
}

.container .banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #fad744;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0 5vh 0 5vh;
  width: 20vw;
  height: 100vh;
  width: 40vw;
}

.container .banner h1 {
  font-weight: bolder;
  font-size: 4rem;
}

.container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #2b3252;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 100vh;
  width: 40vw;
}

.container .about h1 {
  color: #fad744;
  font-weight: bold;
  font-size: 2.2rem;
  padding-top: 30px;
}

.container .about h3 {
  color: #fad744;
  font-weight: lighter;
}

.container .projects {
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 140vh;
  width: 100%;
}

.container .projects h1 {
  padding-top: 20vh;
  font-family: "Finger Paint", cursive;
  font-weight: lighter;
  color: #2b3252;
  font-size: 4.5em;
}

.container .projects h2 {
  padding-bottom: 20px;
  color: #2b3252;
  font-size: 2em;
}

.container .projects .item {
  border-radius: 5px;
  width: 50vw;
}

.container .projects h3 {
  width: 30vw;
}

.container .projects .description {
  border-top: 1px solid #2b3252;
  width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  align-items: center;
}

.container h1 {
  color: #2b3252;
  font-weight: bold;
  font-size: 2.2rem;
  padding-top: 30px;
}

.container h2 {
  color: #2b3252;
  font-weight: lighter;
  padding-top: 30px;
}

.container h3 {
  color: #2b3252;
  font-weight: lighter;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: fixed;
  margin-top: 35vh;
  padding-left: 2vw;
  width: 5vw;
}

.social img {
  padding: 5px;
  height: 50px;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  top: 0;
  position: fixed;
  width: 100vw;
  padding: 8px;
  list-style-type: none;
  background-color: white;
}

.navbar .icon {
  padding-right: 20px;
  color: #ef5455;
  font-size: 2rem;
  font-family: "Monoton";
}

.navbar li a {
  padding-right: 20px;
  text-decoration: none;
  color: #2b3252;
}

@media only screen and (max-width: 650px) {
  .container .banner {
    display: none;
  }
  .container .about {
    width: 100vw;
    text-align: center;
  }
  .container .about h1 {
    font-weight: bolder;
  }
  .container .projects {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .container .projects .description {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80vw;
  }
  .container .projects .description img {
    width: 80vw;
  }
  .container .projects .description h3 {
    width: 80vw;
    text-align: center;
  }
  .social img {
    height: 20px;
    padding: 0;
  }
}
/*# sourceMappingURL=style.css.map */